/*
$layout-breakpoint-small: 768px;
*/
.spacer{
    background-color: black;
    color: white;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.float{  
    height: 110vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .title{
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 18px;
        h1{
            font-weight: 400;
            color: white;
            margin: 0px;
            text-align: center;
        }
        p{
            color: grey;
            margin: 0px;
            text-align: center;
            margin-top: 10px;
        }
    }
    .plane{
        width: 100%;
        height: 100%;
        position: absolute;
        img{
            position: absolute;
        }
        &:nth-of-type(1){
            filter: brightness(0.7);
            img{
                &:nth-of-type(1){
                    left:90%;
                    top: 50%;
                }
                &:nth-of-type(2){
                    left: 5%;
                    top: 55%;
                }
                &:nth-of-type(3){
                    left: 35%;
                    top: 0%;
                }
            }
        }
        &:nth-of-type(2){
            filter: brightness(0.6);
            img{
                &:nth-of-type(1){
                    left: 5%;
                    top: 5%;
                }
                &:nth-of-type(2){
                    left: 80%;
                    top: 5%;
                }
                &:nth-of-type(3){
                    left: 60%;
                    top: 50%;
                }
            }
        }
        &:nth-of-type(3){
            filter: brightness(0.5);
            img{
                &:nth-of-type(1){
                    left: 65%;
                    top: 2.5%;
                }
                &:nth-of-type(2){
                    left: 40%;
                    top: 75%;
                }
            }
        }
    }
}
.gallery{
    height: 175vh;
    background: rgb(45, 45, 45);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    .column{
        position: relative;
        height: 100%;
        width: 25%;
        min-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vw;
        .imageContainer{
            height: 100%;
            width: 90%;
            position: relative;
            border-radius: 1vw;
            overflow: hidden;
            transition: transform 0.4s ease-in-out;
            img{
                object-fit: cover;
            }
            &:hover {
                transform: scale(1.05); /* Scale down the image to 90% on hover */
            }

        }
        .clickable{
            cursor: pointer;
        }
        &:nth-of-type(1){
            top: -45%;
        }
        &:nth-of-type(2){
            top: -95%;
        }
        &:nth-of-type(3){
            top: -45%;
        }
        &:nth-of-type(4){
            top: -75%;
        }
    }
}
/*
@media (min-width: $layout-breakpoint-small) {
    .hide-extra-small {
      display: none;
    }
  }
  */